In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [24]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [25]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [26]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [27]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [28]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(sparse_output=False)
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [29]:
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out())
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [30]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [31]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [32]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [33]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

#### ANN Regression Problem statement

In [34]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [35]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/Users/badaradiallo/Desktop/ANN_classification/env/lib/python3.11/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [36]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [37]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [38]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 100977.5703 - mae: 100977.5703 - val_loss: 98530.0312 - val_mae: 98530.0312
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - loss: 99695.0703 - mae: 99695.0703 - val_loss: 97126.3125 - val_mae: 97126.3125
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - loss: 97863.6094 - mae: 97863.6094 - val_loss: 93555.7344 - val_mae: 93555.7344
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 93089.2812 - mae: 93089.2812 - val_loss: 87545.8516 - val_mae: 87545.8516
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 87826.4922 - mae: 87826.4922 - val_loss: 79595.9219 - val_mae: 79595.9219
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 78620.0938 - mae: 78620.0938 - val_loss: 71075.7578 - val_mae: 71075.7578
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 70652.3516 - mae: 70652.3516 - val_loss: 63232.8789 - val_mae: 63232.8789
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 63000.6211 - mae: 63000.6211 - val_loss: 57099.6641 - val_mae: 57099.6641
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 56959.8789 - mae: 56959.8789 - val_loss: 53334.6094 - val_mae: 53334.6094
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - loss: 52949.4570 - mae: 52949.4570 - val_loss: 51447.1602 - val_mae: 51447.1602
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - loss: 52214.5117 - mae: 52214.5117 - val_loss: 50850.9023 - val_mae: 50850.9023
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 50625.4570 - mae: 50625.4570 - val_loss: 50592.4023 - val_mae: 50592.4023
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - loss: 50804.2812 - mae: 50804.2812 - val_loss: 50485.5000 - val_mae: 50485.5000
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 650us/step - loss: 49530.6328 - mae: 49530.6328 - val_loss: 50438.0625 - val_mae: 50438.0625
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 50193.2656 - mae: 50193.2656 - val_loss: 50405.7070 - val_mae: 50405.7070
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 769us/step - loss: 50603.5234 - mae: 50603.5234 - val_loss: 50372.4219 - val_mae: 50372.4219
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 724us/step - loss: 50318.3164 - mae: 50318.3164 - val_loss: 50349.1055 - val_mae: 50349.1055
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 650us/step - loss: 49991.5234 - mae: 49991.5234 - val_loss: 50329.0117 - val_mae: 50329.0117
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - loss: 49865.4570 - mae: 49865.4570 - val_loss: 50316.2969 - val_mae: 50316.2969
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - loss: 50118.8516 - mae: 50118.8516 - val_loss: 50294.8242 - val_mae: 50294.8242
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - loss: 49651.0352 - mae: 49651.0352 - val_loss: 50281.8398 - val_mae: 50281.8398
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - loss: 50022.4180 - mae: 50022.4180 - val_loss: 50274.5508 - val_mae: 50274.5508
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 49499.0273 - mae: 49499.0273 - val_loss: 50269.1172 - val_mae: 50269.1172
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 698us/step - loss: 50313.8477 - mae: 50313.8477 - val_loss: 50259.2422 - val_mae: 50259.2422
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 974us/step - loss: 49786.3203 - mae: 49786.3203 - val_loss: 50256.8867 - val_mae: 50256.8867
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - loss: 49741.8164 - mae: 49741.8164 - val_loss: 50252.3672 - val_mae: 50252.3672
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 702us/step - loss: 50094.8008 - mae: 50094.8008 - val_loss: 50248.6992 - val_mae: 50248.6992
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step - loss: 49724.5742 - mae: 49724.5742 - val_loss: 50239.4102 - val_mae: 50239.4102
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - loss: 50129.1875 - mae: 50129.1875 - val_loss: 50233.1367 - val_mae: 50233.1367
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 49316.8281 - mae: 49316.8281 - val_loss: 50235.1211 - val_mae: 50235.1211
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - loss: 49972.5820 - mae: 49972.5820 - val_loss: 50227.7266 - val_mae: 50227.7266
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - loss: 49895.9297 - mae: 49895.9297 - val_loss: 50234.6641 - val_mae: 50234.6641
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 627us/step - loss: 50009.1523 - mae: 50009.1523 - val_loss: 50230.8281 - val_mae: 50230.8281
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 49856.2266 - mae: 49856.2266 - val_loss: 50232.5039 - val_mae: 50232.5039
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - loss: 48797.9453 - mae: 48797.9453 - val_loss: 50227.0781 - val_mae: 50227.0781
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - loss: 49328.4375 - mae: 49328.4375 - val_loss: 50227.1953 - val_mae: 50227.1953
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 750us/step - loss: 48944.0039 - mae: 48944.0039 - val_loss: 50218.4375 - val_mae: 50218.4375
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 920us/step - loss: 49533.8633 - mae: 49533.8633 - val_loss: 50224.0508 - val_mae: 50224.0508
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step - loss: 49302.6523 - mae: 49302.6523 - val_loss: 50227.2656 - val_mae: 50227.2656
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step - loss: 49529.6406 - mae: 49529.6406 - val_loss: 50223.3984 - val_mae: 50223.3984
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - loss: 49411.8164 - mae: 49411.8164 - val_loss: 50224.8945 - val_mae: 50224.8945
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 769us/step - loss: 49387.4844 - mae: 49387.4844 - val_loss: 50236.3828 - val_mae: 50236.3828
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 627us/step - loss: 49360.7734 - mae: 49360.7734 - val_loss: 50241.2891 - val_mae: 50241.2891
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 678us/step - loss: 49472.6367 - mae: 49472.6367 - val_loss: 50245.3789 - val_mae: 50245.3789
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 683us/step - loss: 49792.1406 - mae: 49792.1406 - val_loss: 50234.8203 - val_mae: 50234.8203
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 49529.6328 - mae: 49529.6328 - val_loss: 50231.7070 - val_mae: 50231.7070
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 649us/step - loss: 49523.6562 - mae: 49523.6562 - val_loss: 50239.2695 - val_mae: 50239.2695

In [39]:
%load_ext tensorboard

In [40]:
%tensorboard --logdir regressionlogs/fit

In [41]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - loss: 51166.9531 - mae: 51166.9531
Test MAE : 50218.4375

In [42]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.